*
{
    margin: 0;
    padding: 0;

}
.section-one{
    background-color: rgb(111, 106, 18);
    color: white;
    text-align: center;
    margin:30px;
    padding:10px;
    

}
.food__container{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin-top: 10px;
    text-align: center;
    padding-inline: 50px;


    

    

}
.food-card{
    width: 300px;
    border-radius: 40px;
    background-color:solid black 1px;
    text-align: center;
    background-color:rgb(241, 238, 217);
    height:400px;

    

    
    
    
}
.food-card img{
    width:300px;
    height:60%;
     border-top-right-radius:30px;
     border-top-left-radius: 30px;
     

}
.food-card p{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.food-card h3{
    padding:5px;
}
.contact-form{
    height:25%;
    background-color: black;
    color:white;
    text-align: center;
    align-items:center;
    
    
}
.contact-form
{
    background-color:rgb(58, 58, 7);
    color: white;
    text-align: center;
    padding: 10px;
    margin: 15------px;

    

}
    .contact-form__desc{
        display: inline-block;
        padding: 5px;
        color: azure;

    }
    .send{
        background-color: rgb(161, 141, 117);
        padding: 3px;
        width: 90px;
    
    }.order{
        padding:5px;
        background-color: rgb(47, 51, 4);
        color:white;
        margin:10px;
        border-radius: 10px;
    }.order1{
        margin: 25px;
        padding:5px;
        background-color: rgb(47, 51, 4);
        color:white;
        border-radius: 10px;
    }